applications:
  - name: monitoring-crds
    syncWave: "-1"
    namespace: monitoring
    source:
      type: helm
      repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: 57.0.2
      helmValues: |
        crds:
          enabled: true
        prometheusOperator:
          enabled: false
        prometheus:
          enabled: false
        alertmanager:
         enabled: false
        grafana:
          enabled: false




  # 1. Senin Mikroservislerin (Git Kaynaklı)
  - name: microservices-demo
    namespace: default
    source:
      type: git
      repoURL: https://github.com/saitbutun/microservices-demo.git
      targetRevision: main
      path: microservice-app # Repodaki chart yolu

  # 2. Monitoring Stack (Helm Repo Kaynaklı - Senin attığın YAML)
  - name: monitoring
    syncWave: "0"
    namespace: monitoring
    source:
      type: helm
      repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: 57.0.2
      # Burası senin attığın o uzun "helm values" kısmı
      helmValues: |
        prometheusOperator:
          enabled: true
          crds:
            enabled: false
        grafana:
          enabled: true
          adminPassword: admin
          service:
            type: ClusterIP
        prometheus:
          enabled: true
          service:
            type: ClusterIP
          prometheusSpec:
            retention: 7d
        alertmanager:
          enabled: true