apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend-ingress
  annotations:
    # Bu kuralı Nginx Ingress Controller yönetecek
    kubernetes.io/ingress.class: nginx
    # Şimdilik HTTPS zorlamayalım, HTTP çalışsın
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    # Büyük resimleri yüklerken hata vermesin (isteğe bağlı)
    nginx.ingress.kubernetes.io/proxy-body-size: "10m"
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend
            port:
              number: 80